/*
--- 01 TYPOGRAPGY SYSTEM

- Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #cc2a24

- Tints
#fdf2e9
#6f1815
#fae5d3

- Shades:
- Accents:
- Greys
#555
#333

--- 03 SHADOWS

--- 04 BORDER RADIUS
Default: 9px
11px

-- 05 WHITESPACE

- Spicing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128    
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* letra de html */
html {
  font-size: 62.5%;
  overflow: hidden-x;
  scroll-behavior: smooth; /* cuando nos vamos a una seccion, el scroll a esa parte  es lento */
}

body {
  font-family: "rubik", sans-serif;
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutley
  positioned in relation to body */
  overflow: hidden-x;
}

a {
  color: #6f1815;
}

/*************************/
/* GENERAL COMPONENTS */
/*************************/

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.icon-list {
  width: 3rem;
  height: 3rem;
  color: #cc2a24;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  /*todos los qwe no son el ultimo hijo*/
  margin-bottom: 9.6rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid-center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-terciary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-terciary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cc2a24;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  border-radius: 9px;

  /*only for the btn itself*/
  border: none;
  cursor: pointer;

  /* put transition on the original state */
  transition: all 0.5s; /* efecto, cuando pones el mouse en los botones (all) tardara 0.5seg en ir al hover para el cambio de color*/
}

.btn--full:link,
.btn--full:visited {
  background-color: #cc2a24;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #6f1815;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  box-shadow: inset 0 0 0 3px white;
}

.btn-form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn-form:hover {
  background-color: white;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #cc2a24;
  text-decoration: none;
  border-bottom: 1px solid #cc2a24;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #6f1815;
  border-bottom: 1px solid transparent; /*color transpartente*/
}

/*focus indicator para forms y links, donde se da click*/
*:focus {
  outline: none;
  /*outline: 4px dotted #cc2a24;*/
  /*outline-offset: 8px;*/
  box-shadow: 0 0 0 0.8rem rgba(230, 126, 34, 0.5);
}
/* MOBILE MENU NAV */
.btn-mobile-nav {
  border: none;
  background-color: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
  background-color: #fae5d3;
  border: none;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/*************************/
/* HEADER */
/*************************/

.header {
  display: flex;
  justify-content: space-between; /* logo y nav bar de lados contrarios */
  align-items: center;
  background-color: #fde9e9;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  display: flex;
  align-items: center ;
}

/*************************/
/* HERO SECTION */
/*************************/

.section-hero {
  background-color: #fde9e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 120%; /* hacer flexible la imagen con el movimiento de la pantalla */
}

.hero-c2a {
  display: flex;
  align-items: center;
}

.hero-c2a a {
  display: flex;
  align-items: center;
}

.margin-right-small {
  margin-right: 1.6rem !important;
}

.hero-footer {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.hero-footer-text {
  font-size: 1.8rem;
  font-weight: 600;
}


/*************************/
/* NAVIGATION */
/*************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}


.nombreFundacion {
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #6f1815;
}

.main-nav-link.nav-ca:link, /*debe tener ambas clases, sin espacio*/
.main-nav-link.nav-ca:visited {
  padding: 1.6rem 2.4rem;
  border-radius: 9px;
  color: white;
  background-color: #cc2a24;
}

.main-nav-link.nav-ca:hover,
.main-nav-link.nav-ca:active {
  background-color: #6f1815;
}

/*************************/
/* FEATURED SECTION */
/*************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}

.logos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3.2rem;
}

.logos img {
  height: 3.2rem;
  /*cambiar el color de la imagen*/
  filter: brightness(0);
  opacity: 50%;
}

/*************************/
/* HOW IT WORKS SECTION */
/*************************/

.section-how {
  padding: 9.6rem;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
}

.step-img {
  width: 40%;
}

.step-img1 {
  width: 65%;
  margin-left: 40px;
}


/*************************/
/* MEALS SECTION */
/*************************/

.section-mission {
  padding: 9.6rem;
}

.mission-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.mission {
  box-shadow: 0 2.4px 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden; /*redondear bien*/
  transition: all 0.4s; /*efecto de mover arriba mas lento*/
}

.mission:hover {
  transform: translateY(-1.2rem); /*move up a little bit*/
  box-shadow: 0 0.32px 6.4rem rgba(0, 0, 0, 0.096);
}
.mission-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51bacf;
}

.tag--paleo {
  background-color: #ffa73b;
}

.mission-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.mission-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mission-attribute {
  font-size: 2.0rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.mission-img {
  width: 100%;
}

.mission-img2 {
  width: 115%;
}

/*************************/
/* ABOUT SECTION */
/*************************/

.section-about {
  padding: 9.6rem;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.about-container {
  padding: 9.6rem 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*************************/
/* PRICING SECTION */
/*************************/
.section-pricing {
  padding: 9.6rem 0;
}

.princing-plan-container {
  display: flex;
  justify-content: center;
}

.princing-plan {
  border-radius: 11px;
  width: 55%;
}

.starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden; /*lo que salga del content se cortara para que no se vea que algo sale de la caja*/
}

.complete::after {
  content: "Best value"; /*agregar al html*/
  position: absolute;
  top: 6%; /*acomodar el texto en el top izqierdo*/
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #6f1815;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 2.2rem;
}

.plan-price {
  font-size: 6rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #cc2a24;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*************************/
/* FOOTER SECTION */
/*************************/
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.adress {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
